.root {
    -fx-font-family: 'Press Start 2P';
}

.button {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0, 0, 5);
    -fx-transition: all 0.3s;
}

.button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.3), 15, 0, 0, 0);
}

.button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.label {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 5, 0, 0, 2);
}

.canvas {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 20, 0, 0, 10);
}

.progress-bar {
    -fx-accent: gold;
}

.progress-bar .bar {
    -fx-background-radius: 5;
}

.progress-bar .track {
    -fx-background-radius: 5;
}
